<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post_text">Link</label>
      <input id="post_text" name="post_text" />
    </div>
    <button type="submit" class="btn">Add</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>